<div class="container">
  <h1>Burger-Zilla</h1> <img src="public/assets/img/burger.jpeg" alt="juicy burger" class="center"></h1>
  <p class="centertext">Welcome to Burger-Zilla, where the burgers are out of this world!</p>
</div>


<div class="col-md-12">
  <div class="card border border-dark">
    <div class="card-header bg-light text-black">
      How can I help you today?
    </div>
    <h2>Add a Burger</h2>
    <div class="card-body">
      <form class="create-form">
        <div class="form-group">
          <label for="burg">Place order here:</label>
          <input type="text" class="form-control" id="burg" name="burger_name" placeholder="">
        </div>
        <button class="btn btn-dark" type="submit">Place order <i class="fa fa-bell-o" aria-hidden="true"></i> </button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card border border-light">
      <div class="card-header bg-dark text-white">
        Burgers
      </div>
      <!--Div to hold burgers that have not been devoured yet-->
      <div class="card-body">
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card border border-light">
        <div class="card-header bg-dark text-white">
          Devoured burgers
        </div>
        <!--When a burger has been devoured, put burger here-->
        <div class="card-body">
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
</div>





{{!--
<form id="create-form">

  <div class="form-group">
    <label for="burg">Burger Type: </label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Hungry?</label><br>
    <input type="radio" name="devoured" value="1" id="devoured" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0" id="notDevoured"> Waiting
  </div>

  <button type="submit">Add a Burger </button>
</form> --}}