body {
    font-family: Bodoni Moda;;
    background-color: blueviolet;
}
h1 {
    font-style: normal;
  font-weight: 400;
  text-align: center;
  color: aliceblue;

}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  .centertext {
      text-align: center;
      color: aliceblue;
  }